<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <!-- FOR FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-theme.min.css" />


    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style>
    a {color: #343a40;}

      .navbar{
        margin-bottom:0;
        border-radius:0;
        background-color: black;
        border-color: white;
      }
      #A1{
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 40px;
      }
      #h1{
        font-family: 'Amatic SC', cursive;
        font-size:100px;
      }
      .jumbotron {
         background: #ABCDEF url('static/images/Dashboard.JPG') no-repeat right top;
         height: 700px;
       }
    </style>
</head>
<body>
    <!--navbar-->
    <div class="navbar-wrapper navbar-wrapper-dark">
    <div class="container-fluid">
      <nav class="navbar navbar-static-top">
        <a class="display-1" href="index.html" id="A1"><font color="white">QuickLang</font></a>
      </nav>
    </div>
    </div>

    <!-- JUMBOTRON-->
    <div class="container-fluid">
    <div class="jumbotron text-center">
      <form action="" method="POST">
          <label for="email"><strong>Email</strong></label>
          <input type="email" placeholder="Enter Email" name="email" required>

          <label for="password"><strong>Password</strong></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <button type="submit">Create Account</button>
      </form>
    <div class="container">
    <h1 class="display-1" id="h1">Register For a New Account</h1>
</body>
