<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>User Dashboard</h1>
    <input type="file" accept="image/*" capture="camera" />
    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="scripts/firebaseDatabase.js"></script>
    <h1 id='vocab'></h1>
    <p id='definition'></p> -->
</body>
</html>