<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/dashboard" method="POST">
        <label for="email"><strong>Email</strong></label>
        <input type="email" placeholder="Enter Email" name="email" required>

        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>