<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-theme.min.css" />


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
        background-color: black;
        border-color: white;
      }
      #A1{
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 40px;
      }
      #LaPass{
        font-family: 'Amatic SC', cursive;
        font-size:30px;
        color: white;
      }
      #LaEm{
        font-family: 'Amatic SC', cursive;
        font-size:30px;
        color: white;
      }
      #LaRe{
        font-family: 'Amatic SC', cursive;
        font-size:30px;
        color: white;
      }
      #h1{
        font-family: 'Amatic SC', cursive;
        font-size:120px;
      }
      .jumbotron {
         background: #ABCDEF url('images/Dashboard.JPG') no-repeat right top;
         height: 600px;
       }
    </style>
    </head>
    <body>
    <!--navbar-->
    <div class="navbar-wrapper navbar-wrapper-dark">
    <div class="container-fluid">
      <nav class="navbar navbar-static-top">
        <a class="display-1" href="index.html" id="A1"><font color="white">QuickLang</font></a>
      </nav>
    </div>
    </div>

    <!-- JUMBOTRON-->
    <div class="container-fluid">
    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="display-1" id="h1">Login</h1>

          <div style="height:100px"></div>
        <form class="form-inline" action="/" method="post">
          <div class="form-group">
            <label id="LaEm"> Email</label>
            &nbsp;
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            &nbsp;
            <label id="LaPass"> Password</label>
            &nbsp;
            <input type="Password" class="form-control" placeholder="password" name="password">
          </div>
          <div class="checkbox">
            <br>
            <label id="LaRe">
              &nbsp;
              <input type="checkbox">Remember Me
            </label>
            <input type="submit" class="btn btn-warning">Login</button>
          </div>
        </form>
      </div>
    </div>
    </div>

<div style="height:20px"></div>
<!-- Extra Stuff-->
  <div class="container marketing">
  <div class="row">
  <div class="col-md-4 col-lg-4">
    <a href="AboutUs.html"  target="_blank">
      <img alt="About Us" src="images/AboutUs.jpg" width="90" height="90">
    </a>
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
  </div>

  <div class="col-md-4 col-lg-4">
    <a href="#"  target="_blank">
      <img alt="Contact Info" src="images/contactinfo.jpg" width="100" height="100">
    </a>
  <h2>Contact Information</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
  </div>

  <div class="col-md-4 col-lg-4">
    <a href="dashboard.html"  target="_blank">
      <img alt="Dashboard" src="images/Dashboard_Img.jpg" width="100" height="100">
    </a>
  <h2>Dashboard</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
  </div>
  </div>
  </div>


</body>
<div style= "height:40px"></div>
<footer>
  <p class= "container"><small>Copyright &copy; 2019 UCSBhacks</small></p>

</footer>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script> -->
    <!-- <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action='/dashboard' methods='POST'>
        <label for="email"><strong>Email</strong></label>
        <input id="email" type="email" placeholder="Enter Email" name="email" required>

        <label for="password"><strong>Password</strong></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <button id= "login" type="submit">Login</button>
    </form> -->


    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        const config = {
            apiKey: "AIzaSyDLZ672i6TUb9FwpIasc0MzfDhFOMrOYHI",
            authDomain: "sb-hacks-bf124.firebaseapp.com",
            databaseURL: "https://sb-hacks-bf124.firebaseio.com",
            projectId: "sb-hacks-bf124",
            storageBucket: "sb-hacks-bf124.appspot.com",
            messagingSenderId: "544177410232"
        };
        firebase.initializeApp(config);

        //Get DOM elements
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const buttonLogin = document.getElementById("login");

        buttonLogin.addEventListener('click', e => {
            alert("clicked");
            const emailValue = email.value;
            const passwordValue = password.value;
            alert(emailValue);
            alert(passwordValue);

            firebase.auth().signOut().catch(function(error) {});

            user = firebase.auth().signInWithEmailAndPassword(emailValue, passwordValue).catch(function(error) {
                alert(error);
            });

            alert(firebase.auth().currentUser.email);

        });
    </script> -->
<!-- </body>
</html> -->
